In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("trainmod.csv")
df = df.drop(['Unnamed: 0'], axis = 1)
df.head()

,id,target,home_team_name,away_team_name,league_name,is_cup,home_team_history_is_play_home_1,home_team_history_is_play_home_2,home_team_history_is_play_home_3,home_team_history_is_play_home_4,...,home_team_history_match_days_ago_10,away_team_history_match_days_ago_10,home_team_history_goal,away_team_history_goal,home_team_history_opponent_goal,away_team_history_opponent_goal,home_team_history_rating,away_team_history_rating,home_team_history_opponent_rating,away_team_history_opponent_rating
0,11906497,2,Newell's Old Boys,River Plate,Superliga,0,0.0,1.0,0.0,1.0,...,90.0,60.0,13.0,16.0,10.0,9.0,5.496371,8.561214,4.400204,3.808902
1,11984383,0,Real Estelí,Deportivo Las Sabanas,Primera Division,0,1.0,0.0,1.0,0.0,...,62.0,77.0,9.0,8.0,10.0,14.0,8.440839,5.287316,4.546772,6.822376
2,11983301,1,UPNFM,Marathón,Liga Nacional,0,0.0,1.0,0.0,1.0,...,73.0,73.0,19.0,21.0,17.0,11.0,6.844712,7.620071,5.547477,5.188232
3,11983471,2,León,Morelia,Liga MX,0,0.0,0.0,1.0,1.0,...,66.0,65.0,18.0,24.0,13.0,20.0,7.449923,5.818128,4.983015,6.469250
4,11883005,0,Cobán Imperial,Iztapa,Liga Nacional,0,0.0,1.0,0.0,1.0,...,63.0,62.0,18.0,18.0,14.0,10.0,7.079634,5.983338,5.192975,6.027979

In [3]:
df.columns

Index(['id', 'target', 'home_team_name', 'away_team_name', 'league_name',
       'is_cup', 'home_team_history_is_play_home_1',
       'home_team_history_is_play_home_2', 'home_team_history_is_play_home_3',
       'home_team_history_is_play_home_4', 'home_team_history_is_play_home_5',
       'home_team_history_is_play_home_6', 'home_team_history_is_play_home_7',
       'home_team_history_is_play_home_8', 'home_team_history_is_play_home_9',
       'home_team_history_is_play_home_10', 'home_team_history_is_cup_1',
       'home_team_history_is_cup_2', 'home_team_history_is_cup_3',
       'home_team_history_is_cup_4', 'home_team_history_is_cup_5',
       'home_team_history_is_cup_6', 'home_team_history_is_cup_7',
       'home_team_history_is_cup_8', 'home_team_history_is_cup_9',
       'home_team_history_is_cup_10', 'away_team_history_is_play_home_1',
       'away_team_history_is_play_home_2', 'away_team_history_is_play_home_3',
       'away_team_history_is_play_home_4', 'away_team_history_is_play_home_5',
       'away_team_history_is_play_home_6', 'away_team_history_is_play_home_7',
       'away_team_history_is_play_home_8', 'away_team_history_is_play_home_9',
       'away_team_history_is_play_home_10', 'away_team_history_is_cup_1',
       'away_team_history_is_cup_2', 'away_team_history_is_cup_3',
       'away_team_history_is_cup_4', 'away_team_history_is_cup_5',
       'away_team_history_is_cup_6', 'away_team_history_is_cup_7',
       'away_team_history_is_cup_8', 'away_team_history_is_cup_9',
       'away_team_history_is_cup_10', 'home_team_history_match_days_ago_1',
       'away_team_history_match_days_ago_1',
       'home_team_history_match_days_ago_2',
       'away_team_history_match_days_ago_2',
       'home_team_history_match_days_ago_3',
       'away_team_history_match_days_ago_3',
       'home_team_history_match_days_ago_4',
       'away_team_history_match_days_ago_4',
       'home_team_history_match_days_ago_5',
       'away_team_history_match_days_ago_5',
       'home_team_history_match_days_ago_6',
       'away_team_history_match_days_ago_6',
       'home_team_history_match_days_ago_7',
       'away_team_history_match_days_ago_7',
       'home_team_history_match_days_ago_8',
       'away_team_history_match_days_ago_8',
       'home_team_history_match_days_ago_9',
       'away_team_history_match_days_ago_9',
       'home_team_history_match_days_ago_10',
       'away_team_history_match_days_ago_10', 'home_team_history_goal',
       'away_team_history_goal', 'home_team_history_opponent_goal',
       'away_team_history_opponent_goal', 'home_team_history_rating',
       'away_team_history_rating', 'home_team_history_opponent_rating',
       'away_team_history_opponent_rating'],
      dtype='object')

In [4]:
df = df.sort_values(by="away_team_history_match_days_ago_1")

In [5]:
df.head()

,id,target,home_team_name,away_team_name,league_name,is_cup,home_team_history_is_play_home_1,home_team_history_is_play_home_2,home_team_history_is_play_home_3,home_team_history_is_play_home_4,...,home_team_history_match_days_ago_10,away_team_history_match_days_ago_10,home_team_history_goal,away_team_history_goal,home_team_history_opponent_goal,away_team_history_opponent_goal,home_team_history_rating,away_team_history_rating,home_team_history_opponent_rating,away_team_history_opponent_rating
81035,17758397,2,Radnik Surdulica,Khimki,Club Friendlies,0,1.0,1.0,0.0,1.0,...,85.0,91.0,14.0,14.0,10.0,8.0,5.839993,5.025715,6.497043,6.460169
53714,17397400,1,Laredo,Zamora,Club Friendlies,0,0.0,1.0,1.0,1.0,...,294.0,327.0,26.0,19.0,6.0,7.0,8.846246,10.146067,5.679464,5.245683
12658,12015629,0,Renova,Mačva Šabac,Club Friendlies,0,1.0,0.0,0.0,1.0,...,118.0,95.0,8.0,5.0,17.0,11.0,4.663537,4.243606,6.478364,7.615359
12655,11998416,2,Dnipro-1,Austria Wien,Club Friendlies,0,1.0,1.0,0.0,0.0,...,102.0,87.0,10.0,33.0,19.0,9.0,5.106728,8.982590,5.978708,6.444163
12648,12015627,0,Viktoria Plzeň,Shonan Bellmare,Club Friendlies,0,1.0,1.0,1.0,1.0,...,91.0,116.0,22.0,7.0,10.0,18.0,11.069067,5.609391,4.229797,7.392892

In [6]:
# df.set_index("id", inplace = True)
result = df.loc[:, ["away_team_history_match_days_ago_1", "away_team_history_opponent_rating"]]
result

        away_team_history_match_days_ago_1  away_team_history_opponent_rating
81035                                  0.0                           6.460169
53714                                  0.0                           5.245683
12658                                  0.0                           7.615359
12655                                  0.0                           6.444163
12648                                  0.0                           7.392892
...                                    ...                                ...
73424                                671.0                           5.887982
75517                                678.0                           6.780868
89424                                703.0                           7.004957
102300                               704.0                           6.050056
108636                               756.0                           6.751841

[110937 rows x 2 columns]

In [7]:
df = df[(df['league_name'] == 'Champions League')]

In [8]:

x = df['home_team_name'].unique()
x

array(['Zenit', 'Dynamo Kyiv', 'Lazio', 'Midtjylland', 'Napoli',
       'Shakhtar Donetsk', 'Olympique Marseille', 'Atalanta', 'Liverpool',
       "Borussia M'gladbach", 'Atlético Madrid', 'Lokomotiv Moskva',
       'İstanbul Başakşehir', 'Ferencváros', 'Salzburg', 'Real Madrid',
       'Manchester City', 'Borussia Dortmund', 'Juventus',
       'Paris Saint Germain', 'Manchester United', 'Ajax', 'Rennes',
       'Krasnodar', 'Porto', 'Sevilla', 'RB Leipzig', 'Chelsea',
       'Barcelona', 'Olympiakos Piraeus', 'Dinamo Brest', 'Sūduva',
       'Slavia Praha', 'Maccabi Tel Aviv', 'Omonia Nicosia',
       'Olympique Lyonnais', 'Inter', 'Tirana', 'Gent', 'Molde',
       'Legia Warszawa', 'CFR Cluj', 'AZ Alkmaar', 'Celje',
       'Bayern München', 'Celtic', 'Qarabağ', 'Club Brugge', 'PAOK',
       'Bayer Leverkusen', 'Benfica', 'Dinamo Zagreb',
       'Tottenham Hotspur', 'Young Boys', 'Budućnost', 'KÍ',
       "Connah's Quay", 'Flora', 'Valencia', 'Lokomotiva Zagreb',
       'Ludogorets', 'Ararat-Armenia', 'Drita', 'Dinamo Tbilisi',
       'Floriana', 'Sheriff', 'Tre Fiori', 'Crvena Zvezda'], dtype=object)

In [9]:
copy = df
df_final = copy.drop_duplicates(subset="home_team_name")
df_final.shape

(68, 74)

In [10]:
df_final = df_final[['home_team_name','home_team_history_goal','home_team_history_opponent_goal','home_team_history_rating','home_team_history_opponent_rating']]

In [11]:
df_final

,home_team_name,home_team_history_goal,home_team_history_opponent_goal,home_team_history_rating,home_team_history_opponent_rating
57643,Zenit,22.000000,7.000000,9.277791,3.778607
57642,Dynamo Kyiv,24.000000,5.000000,9.294198,4.370073
72518,Lazio,18.000000,13.000000,7.364701,5.783321
72768,Midtjylland,13.000000,13.000000,6.590731,7.962492
2646,Napoli,12.000000,13.000000,8.036432,5.529997
...,...,...,...,...,...
38152,Dinamo Tbilisi,16.000000,4.000000,8.302519,4.572848
38204,Floriana,18.000000,10.000000,8.355645,5.051497
38181,Sheriff,25.000000,3.000000,11.764322,4.044474
35966,Tre Fiori,13.807615,19.705536,6.516497,8.290018
38002,Crvena Zvezda,23.000000,6.000000,13.338545,3.778034

In [12]:
# df_final.to_csv("TeamsCL.csv")

In [13]:
# import pickle as pkl

# with open('TeamsCLpkl.pkl', 'wb') as f:
#     pkl.dump(df_final, f)

In [14]:
# with open('TeamsCLpkl.pkl', 'rb') as f:
#         x = pkl.load(f)

In [15]:
df_final

,home_team_name,home_team_history_goal,home_team_history_opponent_goal,home_team_history_rating,home_team_history_opponent_rating
57643,Zenit,22.000000,7.000000,9.277791,3.778607
57642,Dynamo Kyiv,24.000000,5.000000,9.294198,4.370073
72518,Lazio,18.000000,13.000000,7.364701,5.783321
72768,Midtjylland,13.000000,13.000000,6.590731,7.962492
2646,Napoli,12.000000,13.000000,8.036432,5.529997
...,...,...,...,...,...
38152,Dinamo Tbilisi,16.000000,4.000000,8.302519,4.572848
38204,Floriana,18.000000,10.000000,8.355645,5.051497
38181,Sheriff,25.000000,3.000000,11.764322,4.044474
35966,Tre Fiori,13.807615,19.705536,6.516497,8.290018
38002,Crvena Zvezda,23.000000,6.000000,13.338545,3.778034

In [16]:
x = df_final.loc[df_final['home_team_name'] == 'Zenit']

In [24]:
x.iloc[0]['home_team_name']

'Zenit'